* {
    margin: 0;
}
body {
    margin: 0;
    background-color: #e7f8f6;
    font-family: Arial, sans-serif;
}
main {
    margin-top: 5rem;
    height: 100vh;
}
.profile-pic {
    width: 100%;
    max-width: 300px;
    background-color: #426B58;
    border-radius: 66% 34% 35% 65% / 51% 59% 41% 49% ;
}
.nav-link.logo {
    font-size: 16px!important;
    font-weight: bold;
    color: #00331A;
}
.nav-link.logo:hover {
    text-decoration: none;
    color: #00CC66;
}
.nav-item a{
    color: #00331A!important;
}
.nav-item a:hover{
    color: #00CC66!important;
}
.greet {
    color: #00331A;
    text-align: left;
}
.desc {
    color: #00331A;
    text-align: left;
}
.desc span {
    color: #00CC66;
}
.home-btn {
    text-align: left;
    display: inline-flex;
    width: 100%;
}
.proj-btn {
    color: #fff;
    background-color: #00CC66;
    border-color: #00CC66;
}
.proj-btn:active {
    color: #00CC66!important;
    /* background-color: #00CC66!important; */
    border-width: 2px;
    border-color: #00CC66!important;
}
.proj-btn:hover {
    color: #fff;
    background-color: #00CC66;
    border-color: #00CC66;
    transform: scale(1.1);
}
.icon-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #426B58;
    color: white;
    text-decoration: none;
}
.icon-circle:hover {
    background-color: #426B58;
    transform: scale(1.1);
}
.icon-circle i {
    width: 18px;
    height: 18px;
}
/* ABOUT SECTION */
/* PROJECTS SECTION */
.projects {
    /* max-width: 100%; */
    margin-top: -150px!important;
    margin: 0 auto;
    overflow: hidden;
}
.project-title {
    font-weight: 800;
}
.card {
    /* width: 400px; */
    max-width: 100%;
    overflow: hidden;
}
.card-header img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}
.btn-source {
    background-color: none;
    color: #00CC66;
    border-width: 1px;
    border-color: #00CC66;
}
.btn-source:hover {
    background-color: #00CC66;
    color: #fff;
}
.btn-live {
    background-color: #00CC66;
    color: #fff;
}
.btn-live:hover {
    background-color: #02b45b;
    color: #fff;
}
/* .icon {
    max-width: 60px;
    margin: 10px auto;
} */
.projects .stack-icon {
    font-size: 30px;
}
.section-title {
    font-weight: bold;
    margin: 20px 0;
}
/* SKILLS SECTION */
.skills-icons i {
    font-size: 65px;
}
.skills-icons img {
    height: 65px;
    width: 65px;
}