html {
    scroll-behavior: smooth;
}
main {
    margin: 0;
    padding: 0;
    height: auto;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e7f8f6;
    font-family: Arial, sans-serif;
}
.navbar {
    padding: 0 60px;
}
.blurr {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; 
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
#home {
    margin-bottom: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.projects {
    margin: 0 auto;
    padding-top: 4rem;
}
.section-title {
    margin-top: 0;
    font-weight: 800;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.profile-pic {
    width: 100%;
    max-width: 300px;
    background-color: #426B58;
    border-radius: 66% 34% 35% 65% / 51% 59% 41% 49% ;
}
.nav-link.logo {
    font-size: 16px!important;
    font-weight: bold;
    color: #00331A;
}
.nav-link.logo:hover {
    text-decoration: none;
    color: #00CC66;
}
.nav-item a{
    color: #00331A!important;
}
.nav-item a:hover{
    color: #00CC66!important;
}
.greet {
    color: #00331A;
    text-align: left;
}
.desc {
    color: #00331A;
    text-align: left;
}
.desc span {
    color: #00CC66;
}
.home-btn {
    text-align: left;
    display: inline-flex;
    width: 100%;
}
.proj-btn {
    color: #fff;
    background-color: #00CC66;
    border-color: #00CC66;
}
.proj-btn:active {
    color: #00CC66!important;
    /* background-color: #00CC66!important; */
    border-width: 2px;
    border-color: #00CC66!important;
}
.proj-btn:hover {
    color: #fff;
    background-color: #00CC66;
    border-color: #00CC66;
    transform: scale(1.1);
}
.icon-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #426B58;
    color: white;
    text-decoration: none;
}
.icon-circle:hover {
    background-color: #426B58;
    transform: scale(1.1);
}
.icon-circle i {
    width: 18px;
    height: 18px;
}
/* ABOUT SECTION */
/* PROJECTS SECTION */
.project-title {
    font-weight: 800;
}
.project-cards {
    margin-top: -40px;
}
.card {
    /* width: 400px; */
    max-width: 100%;
    overflow: hidden;
}
.card-header img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}
.btn-source {
    background-color: none;
    color: #00CC66;
    border-width: 1px;
    border-color: #00CC66;
}
.btn-source:hover {
    background-color: #00CC66;
    color: #fff;
}
.btn-live {
    background-color: #00CC66;
    color: #fff;
}
.btn-live:hover {
    background-color: #02b45b;
    color: #fff;
}
/* .icon {
    max-width: 60px;
    margin: 10px auto;
} */
.projects .stack-icon {
    font-size: 30px;
}
.section-title {
    font-weight: bold;
    margin: 20px 0;
}
/* SKILLS SECTION */
.skills-icons i {
    font-size: 65px;
}
.skills-icons img {
    height: 65px;
    width: 65px;
}
/* CONTACT FORM */
.contact-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}
.form-control, .btn {
    border-radius: 5px;
}
.submit-btn {
    background-color: #00CC66;
    color: #fff;
    border: none;
}
.submit-btn:hover {
    background-color: #02b45b;
    color: #fff;
}
.contact-card .submit-btn:active{
    background-color: #02b45b;
}
.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.contact-item i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #02b45b;
}
.contact-item a {
    text-decoration: none;
    color: #000;
}
.contact-card input:focus {
    outline: none;
    border: none;
}
footer {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #666;
    background-color: #f9f9f9;
    bottom: 0;
    width: 100%;
}  